* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color: #b91450;
    text-align: center;
    font-family: sans-serif;
}

h1{
    color: white;
    margin-block: 2em;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    background-color: white;
    color:  #b91450;
    font-weight: bold;
    border-radius: 5px;
    padding: 5em;
}

.container input[type="button"]{
    margin-top: 2em;
    color: #b91450;
    font-weight: bold;
}

input{
    margin-block: 5px;
    border:1px solid #b91450;
    border-radius: 5px;
    padding: 5px;
}

.inputContainer{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.inputContainer div{
    display: flex;flex-direction: column;
}




