* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color: #b91450;
    text-align: center;
    font-family: sans-serif;
}

h1{
    color: white;
    margin-block: 2em;
    text-transform: uppercase;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    background-color: white;
    color:  #b91450;
    font-weight: bold;
    border-radius: 5px;
    padding: 3em;
}

.container input[type="button"]{
    margin-top: 2em;
    color: #b91450;
    font-weight: bold;
}

input{
    margin-block: 5px;
    border:1px solid #b91450;
    border-radius: 5px;
    padding: 5px;
}

.inputContainer{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.inputContainer div{
    display: flex;flex-direction: column;
}
.container.ticket {
    text-align: left;
}
.container.ticket h2{
    color: black;
    text-transform: uppercase;
}
.container.ticket .ticketGroup{
    display: flex;
    justify-content: space-between;
    border: 1px solid grey;
}

.ticketDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 1em;
}

.ticketDetails:first-of-type{
    background-color: grey;
}

.ticketDetails h3,
.ticketDetails span{
    margin-block: 15px;
    color: black;
    text-transform: capitalize;
}

.genera{
    display: none;
}
